html {
  font-family: 'Roboto Condensed', sans-serif;
}

body, html {
  height: 100%;
}

body {
  position: relative;
  overflow-x: hidden;
}

// Sidenav
.sidenav-overlay {
  z-index: 996;
}

.sidenav-trigger {
  color: #000000;
}

// Parallax Container
.parallax-container {
  min-height: 500px;
  line-height: 0;
  height: auto;

  .section {
    width: 100%;
  }
}

nav ul li a.active-page {
  border-bottom: black solid 2px;
}
nav {
  top: 0;

  &#navigation {
    .nav-wrapper {
      line-height: 64px;
      height: 64px;
    }

    .nav-wrapper.white {
      background-color: #f2f2f2;

      @media only screen and (max-width: 992px) {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
      }
    }
  }

  // Brand-Logo
  .brand-logo {
    margin-left: 50px;

    @media only screen and (max-width: 992px) {
      margin-left: 0;
      font-size: 26px;
    }
  }

  ul {
    li {
      a {
        &.active-page {
          @media only screen and (max-width: 992px) {
            background-color: #000;
            color: #fff;
          }

          @media only screen and (min-width: 993px) {
            border-bottom: black solid 2px;
          }
        }
      }
    }
  }
}

// Social-LINKS
.social-links {
  @media only screen and (max-width: 992px) {
    margin: 25px 0 0;
  }

  @media only screen and (min-width: 993px) {
    margin: 75px 0 75px;
  }

  li {
    display: inline-block;

    a {
      margin: 30px;
      color: black;

      @media only screen and (max-width: 992px) {
        margin: 15px;

        i {
          font-size: 1.25em;
        }
      }
    }
  }
}

.section {
  padding: 0;

  &#home {
    padding: 0;
    margin: 0;
    top: 0;
    width: 100%;
    min-height: 540px;
    position: absolute;
    z-index: -1;

    @media only screen and (min-width: 993px) {
      height: 100vh;
    }
  }

  &#intro-banner {
    @media only screen and (max-width: 992px) {
      padding: 0;

      .section {
        position: relative;
        width: 80%;
        margin: 0 auto;
         margin-top: 100px;
      }
    }
    @media only screen and (min-width: 993px) {
      .section {

        margin-top: 150px;
      }
    }
    

    .card-wrapper {
      width: 100%;
      position: relative;
      margin: 0 auto;
      background-color: #FACC2E;
      height: 400px;

      @media only screen and (max-width: 992px) {
        padding: 0;
        min-height: 350px;
      }

      @media only screen and (min-width: 993px) {
        width: 700px;
      }
    }

    .card {
      p {
        line-height: initial;
      }

      &-yellow {
        height: 100%;
        margin: 0;
        background-color: #FACC2E;
        box-shadow: none;

        @media only screen and (max-width: 992px) {
          padding: 6% 8% 0% 8%;
          position: relative;
          width: initial;
          margin: 0 auto;
          box-sizing: border-box;
        }

        h3 {
          margin-top: 20px;
        }

        .card-content {
          padding: 20px 24px 30px;
        }
      }

      &-blue {
        background-color: #27b1be;
        box-shadow: 2px 7px 21px 0px rgba(110, 100, 110, 1);
        position: absolute;
        left: 100px;
        width: 120%;

        @media only screen and (max-width: 992px) {
          width: 100%;
          left: 5%;
          bottom: 8%;
          margin: 0;

          h4 {
            margin: 15px 0;
            font-size: 22px;
          }
        }

        @media only screen and (min-width: 993px) {
          width: 800px;
          bottom: 70px;

          .card-content {
            padding: 0;

            h4 {
              margin: 0;
              line-height: 170px;
            }
          }
        }
      }
    }

    &.parallax-container {
      @media only screen and (min-width: 993px) {
        height: 100vh;
      }
    }
  }

  &#projects {
    .project {
      @media only screen and (max-width: 992px) {
        position: relative;
        margin: 0 auto;
        box-sizing: border-box;
      }

      @media only screen and (min-width: 993px) {
        margin: 150px 0;
      }

      &-description, &-item {
        padding: 6% 0 8% 0;
      }

      &-item {
        @media only screen and (max-width: 992px) {
          text-align: center;
        }

        @media only screen and (min-width: 993px) {
          min-height: 400px;
        }

        img {
          max-width: 350px;
          width: 100%;
        }
      }
    }
  }

  &#about {
    .card {
      margin: 0;
      background-color: #FACC2E;
      border: none;
      box-shadow: none;

      @media only screen and (max-width: 992px) {
        padding-top: 0;
      }

      > .row {
        @media only screen and (min-width: 993px) {
          display: flex;
          align-items: center;
        }
      }

      &-image {
        height: 100%;
        background-color: #f2f2f2;

        img {
          margin: 0 auto;
        }

        @media only screen and (max-width: 992px) {
          text-align: center;
          max-width: inherit;
          width: initial;
          margin: 0 -0.75rem;

          img {
            width: 60%;
          }
        }

        @media only screen and (min-width: 993px) {
          img {
            max-width: 325px;
          }
        }
      }

      &-content {
        @media only screen and (min-width: 993px) {
          margin: 25px 50px;
        }

        p {
          margin-bottom: 1.3rem;
        }
      }

      @media only screen and (min-width: 993px) {
        margin: 0;

        .col {
          padding: 0;
        }
      }
    }

    @media only screen and (min-width: 993px) {
      padding: 0 0;
    }
  }

  &#contact {
    @media only screen and (min-width: 993px) {
      min-height: 70px;
    }

    @media only screen and (max-width: 992px) {
      position: relative;
      width: 100%;
      margin: 0 auto;
      padding: 10% 16% 0 16%;
      box-sizing: border-box;
    }

    h4 {
      padding-bottom: 10px;
      border-bottom: 2px solid #FACC2E;
    }

    a {
      color: #3cb8c4;
    }
  }
}

footer.page-footer {
  padding: 50px 0 50px;
  background-color: #fff;
}

.parallax {
  background-image: url("../images/background.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}