@import url('https://fonts.googleapis.com/css?family=Dosis|Roboto+Condensed');

.jumbo{
  margin-top: 120px;
}

.jumbo h5{
  font-size: 24px;
}

.cs-heading h5{
  font-size: 24px;
}

main.home_index{
  height: 100vh;
  background-image: url("../images/background5.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

 .brand-logo{
margin-left: 50px;
font-family: 'Dosis', sans-serif;
letter-spacing: 2px;
font-weight: bold;
font-size: 44px;
}

nav ul li a{
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.projects{
margin-top: 100px;
margin-left: 50px;
padding-top: 20px;
}

.social-links a{
  margin: 30px;
  color: black;
}

section{
min-height: 500px;
}

.about{
margin-top: 20px;
background-color: #FACC2E;
}

.about h4{
  padding-top: 120px;
}

.about img{
  padding-top: 0;
  margin-top: 0;
}

.container{
  min-height: 600px;
  width: 1000px;
}

.projects .container{
  min-height: 470px;
}

.projects .container h4{
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 2px solid #FACC2E;
}

.box-center {
  background-color: #cfcfcf;
  width: 700px;
  min-height: 400px;
  box-shadow: 2px 7px 21px 0px rgba(110,100,110,1);
}

.box-top{
  background-color: #cfcfcf;
  min-height: 150px;
  width: 700px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.jumbo h3{
color: black;
}

.box-right{
  background-color: #27b1be;
  margin-left: 100px;
  margin-bottom: 70px;
  width: 800px;
  min-height: 170px;
  padding-top: 50px;
  box-shadow: 2px 7px 21px 0px rgba(110,100,110,1);
}

footer .container{
  min-height: 100px;
  margin-top: 50px;
}

h2{
  font-family: 'Roboto Condensed', sans-serif;
}

h3{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 40px;
}

h4{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
}

.projects h4{
  font-weight: bold;
}

h5{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
}

h6{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  font-weight: 900;
}

p{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  text-align: left;
}

main.cs-nav{
  background-color: white;
}

nav{
  background-color: transparent;
  box-shadow: none;
}

nav .brand-logo, nav ul a{
  color: black;
}

.btn{
  background-color: #3cb8c4
}

nav ul li a.active-page{
  border-bottom: black solid 2px;
}

.cs-heading{
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 10px;
  min-height: 80px;
}

.cs-heading h3{
  padding-bottom: 10px;
  border-bottom: 2px solid #FACC2E;
}

.cs-heading h5{
  padding-top: 10px;
}

.about{
  height: 80vh;
}

.hero-image-kf{
  height: 80vh;
  background-image: url("../images/kf-hero-image2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-image-chippin{
  height: 90vh;
}

.cs-details h5{
  padding-top: 20px;
  text-align: left;
  line-height: 150%;
}

.cs-details h4{
  padding-bottom: 10px;
  border-bottom: 2px solid #FACC2E;
}

.overview{
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f0f0f0;
  min-height: 100px;
}

.summary ul li{
  padding-left: 30px;
  text-align: left;
  list-style-type: disc;
  list-style-position: inside;
  line-height: 200%;
}

.summary{
min-height: 150px;
}

.research{
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: 100px;
}

.goal ul li{
  padding-left: 30px;
  text-align: left;
  list-style-type: disc;
  list-style-position: inside;
  line-height: 150%;
}

.research ul li{
  padding-left: 30px;
  text-align: left;
  list-style-type: disc;
  list-style-position: inside;
  line-height: 150%;
}

.research h6{
padding-top: 30px;
text-align: center;
}

.user-quotes h6{
  font-size: 20px;
  font-style: italic;
  padding-bottom: 20px;
  padding-top: 20px;
  line-height: 150%;
}

.iterations .user-quotes h6{
  font-size: 20px;
  font-style: italic;
  padding-bottom: 10px;
  padding-top: 0;
  line-height: 150%;
}

.user-comments h6{
  font-size: 20px;
  font-style: italic;
  padding-bottom: 100px;
  padding-top: 100px;
}

.key-details{
  text-align: center;
  min-height: 100px;
}

.goal{
  min-height: 350px;
}

.goal h6{
  padding-top: 30px;
  text-align: left;
}

.goal h5{
  padding-top: 10px;
}

.personas{
  padding-top: 50px;
}

.sam-persona{
  padding-top: 50px;
}

.scenario{
padding-top: 20px;
}

.define h6{
padding-top: 30px;
text-align: center;
}

img{
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.develop ul li{
  padding-left: 30px;
  text-align: left;
  list-style-type: disc;
  list-style-position: inside;
  line-height: 150%;
}

.visual-design{
  padding-top: 30px;
  padding-bottom: 30px;
}

.visual-design h6{
padding-top: 30px;
text-align: center;
}

.visual-design ul li{
  padding-left: 50px;
  text-align: left;
  list-style-type: disc;
  list-style-position: inside;
  line-height: 200%;
}

.visual-design img{
padding-top: 0;
}

.develop{
  padding-top: 30px;
  padding-bottom: 30px;
}

.develop h6{
padding-top: 30px;
text-align: center;
}

.develop img{
  width: 100%
}

.develop .iterations h5{
  text-align: center;
  font-weight: bold;
  padding-top: 50px;
}

.conclusion .container{
  min-height: 200px;
}

.conclusion h6{
  font-size: 18px;
  font-style: italic;
  padding-bottom: 20px;
  padding-top: 20px;
  line-height: 150%;
}

.conclusion ul li{
  padding-left: 50px;
  text-align: left;
  list-style-type: disc;
  list-style-position: inside;
  line-height: 200%;
}

.cs-other{
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 200px;
  background-color: #FACC2E;
}

.cs-other .container{
  min-height: 200px;
}

.cs-other h6{
  font-size: 18px;
  font-weight: normal;
  color: black;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

ul{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
}
